<article class="post">
	<h2>
	  <%= @article.title %>
	</h2>
 
<p style="padding-bottom:50px;">
	<%= image_tag @article.image.url(:large), class: 'image-show' if @article.image? %>
  <%= @article.text %><br>
  <small>        	
  	<time><%= @article.created_at.strftime("%Y-%m-%d") %></time> | 
	<%= link_to 'Изменить', edit_article_path(@article) %>
  </small>

</p>

</article>


<h4>Комментарии:</h4>
<%= render @article.comments %>
 
<h4 style="padding-top:30px;">Добавить комментарий:</h4>
<%= render 'comments/form' %>



